<!DOCTYPE html>
<html ng-app="cojabberApp">
<head>
  <title></title>
  <link rel="stylesheet" href="/bower_components/uikit/css/uikit.min.css" />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/uikit/js/uikit.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script src="/js/app/app.js"></script>
</head>
<body ng-controller="HomeController">

</body>
</html>
